<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
<section class="wrapper">
    <div class="container">
        <div class="col-sm-8 offset-sm-2 col-lg-6 offset-lg-3 col-xl-4 offset-xl-4 text-center">
            <form class="rounded bg-white shadow p-5">
                <h3 class="text-dark fw-bold fs-4 mb-5">Filters</h3>
                <div class="mb-3">
                    <label for="#" class="align-items-start fw-medium">Tution Type</label>
                </div>
                <button type="submit" class="btn btn-light submit_btn  ">Online</button>
                <button type="submit" class="btn btn-light submit_btn   ms-3">Offline</button>
                <div class="mb-3">
                    <label for="#" class="align-items-start mt-3 fw-medium">Gender</label>
                </div>
                <button type="submit" class="btn btn-light submit_btn  ">Male</button>
                <button type="submit" class="btn btn-light submit_btn   ms-3">Female</button>

                <div class="mb-3">
                    <label for="#" class="align-items-start mt-3 fw-medium">Gender</label>
                </div>
                <!-- Example split danger button -->
                <div class="btn-group">
                    <button type="button" class="btn btn-light">City</button>
                    <button type="button" class="btn btn-light dropdown-toggle dropdown-toggle-split"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        <span class="visually-hidden">Toggle Dropdown</span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">1</a></li>
                        <li><a class="dropdown-item" href="#">2</a></li>
                        <li><a class="dropdown-item" href="#">3</a></li>
                        <li><a class="dropdown-item" href="#">4</a></li>
                    </ul>
                </div>
                <div class="mb-3">
                    <label for="#" class="align-items-start mt-3 fw-medium">Location</label>
                </div>
                <!-- Example split danger button -->
                <div class="btn-group">
                    <button type="button" class="btn btn-light">Subject</button>
                    <button type="button" class="btn btn-light dropdown-toggle dropdown-toggle-split"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        <span class="visually-hidden">Toggle Dropdown</span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">1</a></li>
                        <li><a class="dropdown-item" href="#">2</a></li>
                        <li><a class="dropdown-item" href="#">3</a></li>
                        <li><a class="dropdown-item" href="#">4</a></li>
                    </ul>
                </div>
                <div class="mb-3">
                    <label for="#" class="align-items-start mt-3 fw-medium">Price Range</label>
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text">Rs</span>
                    <span class="input-group-text">0.00</span>
                    <input type="text" class="form-control" aria-label="Dollar amount (with dot and two decimal places)">
                  </div>
                  <div class="text-muted text-center text-uppercase mb-2">To</div>
                  <div class="input-group">
                    <input type="text" class="form-control" aria-label="Dollar amount (with dot and two decimal places)">
                    <span class="input-group-text">Rs</span>
                    <span class="input-group-text">0.00</span>
                  </div>
                  <button type="submit" class="btn btn-primary submit_btn  my-4">Apply</button>
                  <button type="submit" class="btn btn-secondary submit_btn  my-4 ms-3">Reset</button>

            </form>

        </div>
    </div>
</section>